<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="PACKEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ARBYZER;initial catalog=PACK;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PachkaEntities" connectionString="metadata=res://*/Pachka.csdl|res://*/Pachka.ssdl|res://*/Pachka.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZVERDVD-GJSRG4K\SQLEXPRESS01;initial catalog=Pachka;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BigPackEntities" connectionString="metadata=res://*/BigPack.csdl|res://*/BigPack.ssdl|res://*/BigPack.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZVERDVD-GJSRG4K\SQLEXPRESS01;initial catalog=BigPack;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PachkaEntities1" connectionString="metadata=res://*/Pack.csdl|res://*/Pack.ssdl|res://*/Pack.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZVERDVD-GJSRG4K\SQLEXPRESS01;initial catalog=Pachka;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PachkaBooooolshaya" connectionString="metadata=res://*/BigPachka.csdl|res://*/BigPachka.ssdl|res://*/BigPachka.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZVERDVD-GJSRG4K\SQLEXPRESS01;initial catalog=Pachka;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PachkaEntities2" connectionString="metadata=res://*/PachkaBiiggg.csdl|res://*/PachkaBiiggg.ssdl|res://*/PachkaBiiggg.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZVERDVD-GJSRG4K\SQLEXPRESS01;initial catalog=Pachka;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BigPachka" connectionString="metadata=res://*/PachkaBoooolshaya.csdl|res://*/PachkaBoooolshaya.ssdl|res://*/PachkaBoooolshaya.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZVERDVD-GJSRG4K\SQLEXPRESS01;initial catalog=Pachka;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>